.img-nav {
    width: 15vh;    
}

.bg-img {
    background-image: url("https://ae01.alicdn.com/kf/HTB1ittBfuuSBuNjy1Xcq6AYjFXag/Poster-impreso-en-alta-definici-n-SHROOM-mundo-RICK-y-MORTY-lienzo-de-un-conjunto.jpg_Q90.jpg_.webp");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;    
}

.bg-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

